{{ with . }}
<div class="overflow-hidden sm:pt-6 lg:relative" style="background-color: {{ .Params.background_color }};">
    <div class="max-w-md py-16 px-4 mx-auto sm:max-w-3xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-12 lg:px-8">
        <!-- Image Container -->
        <div class="sm:mx-auto sm:max-w-3xl sm:px-6">
            <div class="md:py-12 sm:relative sm:mt-12 lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2">
                <div class="hidden sm:block">
                    <div
                        class="absolute inset-y-0 w-screen right-1/2 rounded-r-3xl bg-biscutti-500 dark:bg-gray-900/10 lg:right-80 lg:left-0 lg:w-full">
                    </div>
                    <svg class="absolute top-8 left-1/2 lg:right-0 lg:m-0" width="404" height="392" fill="none"
                        viewBox="0 0 404 392" loading="lazy">
                        <defs>
                            <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                                patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-gray-200 dark:text-gray-900/60"
                                    fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect width="404" height="392" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)" />
                    </svg>
                </div>
                <div class="relative pr-4 -ml-40 sm:mx-auto sm:max-w-3xl sm:px-0 lg:h-full lg:max-w-none lg:pr-12">
                    {{ $image := resources.Get .Params.image }} {{ with $image }} {{
                    with .Resize (printf "1000x webp q80") }}

                    <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}"
                        class="w-full rounded-lg shadow-xl lg:h-full lg:w-auto lg:max-w-none"
                        alt="View of Öland's Sydvästera coastline from an antique window in a cozy rental house. A bed is to the right of the window, and a mat is on the floor."
                        loading="lazy" />
                    {{ end }} {{ end }}
                </div>
            </div>
        </div>
        <!-- /.Image Container -->

        <!-- Content Container -->
        <div class="md:mt-8">
            <div class="mt-2 sm:max-w-xl">
                <h1 class="text-4xl tracking-tight text-woodsmoke-700 dark:text-white sm:text-5xl">
                    {{ .Params.title }}
                </h1>
                <p class="mt-6 text-lg text-woodsmoke-900 dark:text-white">
                    {{ .Params.description }}
                </p>
                <p class="pb-12 mt-6 